@import "mixins";
@import "variables";

@import "../css/vendor/normalize.css";

/* Document */
body {
  color: $dark;  
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 20px;
}

/* Global Elements */
a {
  color: $secondary;
  text-decoration: none;
  &:active,
  &:hover {    
    color: $secondaryLight;
  }
  &:link,
  &:active,
  &:hover,
  &:visited {
    outline: 0;
  }
}
img {
  border: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.page-title {
  h1 {
    margin-bottom: 0;
  }
  h2 {
    margin-top: 0;
  }
}

.books {
  
  
  
  &.loading {
    &:before {
      text-align: center;
      content: 'Loading...';
    }
  }
  
  .book {
    display: inline-block;
    width: 200px;
    height: 300px;
    padding: 20px;
    margin: 20px;
    text-align: center;
    background: $medium;
    color: $white;
    vertical-align: middle;
    font-size: 1.6em;
    overflow: hidden;
    @include box-sizing();
    @include transition(background 0.5s);
    &:hover {
      background: $dark;
    }
    
    @include clearfix();
    
    .color {
      width: 10px;
      height: 10px;
      float: left;
    }
  }
}

